.pointing-cursor {
cursor: pointer;
color: #0088cc;
}

.hide {
  display: none;
}

.un-hide {
  display:block;
}

.thick_border {
  border: thick solid white;
  border-width: 5mm;

}
.name_email_fields {
  width: 30%;
}
